/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */
#nav {
    background-color: red;
}
#header {
    padding: 0 0 0 0;
}
#footer {
    padding: 2em;
}
#banner {
    height: 40em;
}
#nav>ul>li a {
    color: white
    ;
}
body, input, textarea {
    color: black;
}
header p {
    color: black;
}
td {
    padding: 1em;
}
th {
    font-weight: bold;
}
figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.payment-button {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
.payment-button-head {
    font-size: 0.8em;
    background: white;
    color: red;
}
a.markdown-btn {
    font-size: inherit;
    font-family: inherit;
    color: red;
    background-color: var(--md-bg-color-dark);
    border-radius: 3px;
    text-align: center;
    padding: 5px 1em 5px 1em;
    text-decoration: none;
    border: solid;
    cursor: pointer;
  
    &:hover,
    &:active {
      text-decoration: none;
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
  }