/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */
#nav {
    background-color: #da291c;
}
#header {
    padding: 0 0 0 0;
}
#footer {
    padding: 2em;
}