{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Date }}<time>{{ .Format "Jan 2, 2006" }}</time>{{ end }}
        {{ end }}
        {{ partial "tags.html" . }}
    </header>

    {{ .Content }}

    {{ if isset .Params "attachment" }}
        {{ if strings.HasSuffix .Params.attachment ".pdf" }}
            <embed src="{{ .Params.attachment }}" type="application/pdf" width="100%" height="600px" />
        {{ end }}
    {{ else if isset .Params "attachments" }}
        {{ range .Params.attachments }}
            {{ if strings.HasSuffix .file ".pdf" }}
                <embed src="{{ .file }}" type="application/pdf" width="100%" height="600px" />
            {{ end }}
        {{ end }}
    {{ end }}

{{ end }}
