<div id="footer">
    <div class="container">
        <div class="row">
            {{- if gt (len .Site.Params.footer.links) 0 }}
                {{- $link_cols := div (cond .Site.Params.footer.contact_form.enabled 6 12) (len .Site.Params.footer.links) }}
                {{- range .Site.Params.footer.links }}
                <section class="col-{{ $link_cols }} col-6-narrower col-12-mobilep">
                    <h3>{{ .header }}</h3>
                    <ul class="links">
                        {{- range .links }}
                            <li><a href="{{ .url }}">{{ .title }}</a>
                        {{- end }}
                    </ul>
                </section>
                {{- end }}
            {{ end }}

            {{- if .Site.Params.footer.contact_form.enabled }}
                {{- partial "footer/contact.html" .Site.Params.footer.contact_form }}
            {{- end }}
        </div>
    </div>

    <ul class="icons">
    {{- range .Site.Params.social }}
        <li><a href="{{ .url }}" class="{{ if .icon }}icon brands {{ .icon  }}{{ end }}">
            <span class="label">{{ .title }}</span>
        </a>
    {{- end }}
    </ul>

    <div class="copyright">
        <ul class="menu">

                <li>©Odesa Regional Organization of<br/>Red Cross Society of Ukraine</li>


                <li>Address: 5, Hretzka St., Odesa <br/>
                    Hotline: +380487080350</li>
                <li><a href="mailto:odhotline@redcross.org.ua">odhotline@redcross.org.ua</a>

        </ul>
    </div>
</div>
